body {
    background-color: aquamarine;
}

.container {
    width: 90%;
    height: 500px;
    margin: 5%;
}

.slick-active {
    height: 300px;
    background-color: brown;
    border: 4px solid aquamarine;
    box-sizing: border-box;
}

/* 

<div><img src={require('./images/001.PNG')} alt=" Joshua Earle on Unsplash"/></div>
<div><img src={require('./images/002.PNG')} alt=" Alisa Anton on Unsplash"/></div>
<div><img src={require('./images/003.PNG')} alt=" Igor Ovsyannykov on Unsplash"/></div>
<div><img src={require('./images/004.PNG')} alt=" Pierre Châtel-Innocenti on Unsplash"/></div>
<div><img src={require('./images/005.PNG')} alt=" Richard Nolan on Unsplash"/></div>
<div><img src={require('./images/006.PNG')} alt=" Cristina Gottardi on Unsplash"/></div>

*/